body html {
    width: 960px;
    text-align: center;
    background-color: palegoldenrod;
}

.container {
    display: flex;
    flex-direction: column;
}

div {
    display: inline-block;
}
